PORT=
DB_URI=
REDIS_URL=
BASE_URL=
FILE_PATH=
OPENAI_KEY=

BOT_TOKEN=
CHAT_ID=
TOPIC_ID=

SUPERADMIN_PHONE=
SUPERADMIN_PASSWORD=

OTP_TTL=
OTP_RESEND=
OTP_ATTEMPTS=
OTP_SECRET=

ESKIZ_BASE_URL=
ESKIZ_EMAIL=
ESKIZ_PASSWORD=
ESKIZ_FROM=

ACCESS_TOKEN_KEY=
ACCESS_TOKEN_TIME=
REFRESH_TOKEN_KEY=
REFRESH_TOKEN_TIME=

SMTP_PORT=
SMTP_HOST=
SMTP_FROM=
SMTP_PASSWORD=
